#### import external libraries

In [5]:
import numpy as np
import pandas as pd

#### IPython extensions

In [6]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

#### import internal libraries

## Mathematical functions

## Constants

In [7]:
PATH_FILES = '/home/franckml/Documents/repositories/movies_rating_model/ml/data/datasets/'
FILES_NAMES = ['genome_tags.csv', 'genome_scores.csv',
               'link.csv', 'movie.csv', 'rating.csv', 'tag.csv']

## Data gathering

In [8]:
df_genome_tags, df_genome_scores, df_link, df_movie, df_rating, df_tag = [
    pd.read_csv(PATH_FILES + f) for f in FILES_NAMES]

In [9]:
df_genome_tags.head(n=2)

   tagId           tag
0      1           007
1      2  007 (series)

In [10]:
df_genome_scores.head(n=2)

   movieId  tagId  relevance
0        1      1      0.025
1        1      2      0.025

In [11]:
# temporal action: select a subset of dataset
df_rating = df_rating.sample(frac=0.01)
df_rating.head(n=2)

          userId  movieId  rating            timestamp
17058052  118009     1213     3.5  2004-03-07 19:33:43
6034121    41527     2915     4.0  2002-03-21 21:00:32

In [12]:
# temporal action: select a subset of dataset
df_genome_scores = df_genome_scores.sample(frac=0.02)
df_genome_scores.head(n=2)

         movieId  tagId  relevance
9280527    55765    472      0.793
8186018    31193    123      0.016

In [13]:
# temporal action: select a subset of dataset
df_tag = df_tag.sample(frac=0.2)
df_tag.head(n=2)

        userId  movieId           tag            timestamp
11575     2188    67087  Lou Ferrigno  2010-01-31 02:41:15
267276   77696     6537     franchise  2013-05-14 19:00:17

## Preprocessing

In [15]:
# Change the data type: from object to datetime
df_rating['timestamp'] = pd.to_datetime(df_rating['timestamp'], infer_datetime_format=True)
df_rating.head(n=2)

          userId  movieId  rating           timestamp
17058052  118009     1213     3.5 2004-03-07 19:33:43
6034121    41527     2915     4.0 2002-03-21 21:00:32

## Binary Classification

#### Modeling structure

In [14]:
(

    df_rating

)

          userId  movieId  rating            timestamp
17058052  118009     1213     3.5  2004-03-07 19:33:43
6034121    41527     2915     4.0  2002-03-21 21:00:32
3061729    20849     4333     3.0  2001-06-11 12:35:05
3349200    22901     1622     2.0  2002-06-16 02:22:19
14122597   97550       39     4.0  2000-02-06 16:34:13
...          ...      ...     ...                  ...
3709026    25248     1246     3.0  2004-08-16 21:12:49
18720635  129611      594     5.0  2012-02-26 06:47:00
17332666  119824    26865     3.5  2011-04-26 05:41:03
13551415   93622     5004     4.0  2002-07-26 17:28:27
5792312    39881      805     5.0  1997-04-20 11:28:28

[200003 rows x 4 columns]