#### import external libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

#### set up of external libraries

In [2]:
plt.style.use('ggplot')

#### IPython extensions

In [3]:
%load_ext autoreload
%autoreload 2

#### import internal libraries

In [4]:
from utils import visualizations as vs
from utils import exploratory_analysis as EDA

## Mathematical functions

## Constants

In [5]:
PATH_FILES = '/home/franckml/Documents/repositories/movies_rating_model/ml/data/datasets/'
FILES_NAMES = ['genome_tags.csv', 'genome_scores.csv',
               'link.csv', 'movie.csv', 'rating.csv', 'tag.csv']

## Data gathering

In [6]:
df_genome_tags, df_genome_scores, df_link, df_movie, df_rating, df_tag = [
    pd.read_csv(PATH_FILES + f) for f in FILES_NAMES]

In [7]:
df_genome_tags.head(n=2)

   tagId           tag
0      1           007
1      2  007 (series)

In [8]:
df_genome_scores.head(n=2)

   movieId  tagId  relevance
0        1      1      0.025
1        1      2      0.025

In [9]:
# temporal action: select a subset of dataset
df_rating = df_rating.sample(frac=0.01)
df_rating.head(n=2)

          userId  movieId  rating            timestamp
16743213  115828     2145     4.5  2006-12-05 08:48:34
1592581    10759     1572     0.5  2003-05-29 00:52:03

In [10]:
# temporal action: select a subset of dataset
df_genome_scores = df_genome_scores.sample(frac=0.02)
df_genome_scores.head(n=2)

         movieId  tagId  relevance
1188303     1189    520    0.02250
6586808     6949    417    0.09775

In [11]:
# temporal action: select a subset of dataset
df_tag = df_tag.sample(frac=0.2)
df_tag.head(n=2)

        userId  movieId                tag            timestamp
65147    14916    64030  Francois Berleand  2014-08-09 20:39:16
446041  131412     2692     existentialism  2010-10-10 11:43:17

## Feature Engineering

#### helping internal functions